.filterArea{
    display: block;
    margin-bottom: 10px;
}
.filterHeader{
    display: inline-block;
    // display: flex;
    // align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;    
    background-color: #d3394c;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.6rem;
}
.header__title{
    padding: .625rem .625rem .625rem 1.25rem;
}
.header__select{
    border: 0;
    cursor: pointer;
    background: #d3394c;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    margin-right: 5px;
}
.header__input{
    border: 0;
    background: white;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: .5rem .7rem;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.header__button{
    font-size: 1rem;
    padding: .5rem .7rem;
    border-radius: 5px;
    margin-right: 5px;
    background: white;
    color: black;
    cursor: pointer;
}
.header__button__disable{
    @extend .header__button;
    cursor: not-allowed;
    opacity: .6;
    font-weight: normal;
}
.filterContent__requirement{
   display: inline-block;
   border-radius: 10px;
   position: relative;
//    padding: 1px 10px;
   padding: 10px;
   margin: 8px 5px;
   color: white;
   background-color: #d3394c;
//    height: 24px;
   &:hover{
       cursor: pointer;
   }
   i{
       position: absolute;
       height: 15px;
       width: 15px;
       right: -12px;
       top: -5px;
       background-size: cover;
       display: inline-block;
       background-image: url('./img/reqDelete.png');
       &:hover{
           background-image: url('./img/reqDeleteHover.png');
       }
   }
}