
$content-color: #4b0f31;
$bg-color: #f1e5e6;
$iFile-bg-color: #dfc8ca;
$bt-bg-color: #d3394c;
$bt-hover-color: #722040;
$bt-disable-bg-color : #d3818a;
$progress-bg-color: #dbbabd;

body{
    padding: 0;
    margin: 0;
    font-size:14px;
    color: $content-color;
    background-color: $bg-color;
}

.header{
   padding: 2em 1em 4em;
   text-align: center; 
}

.header h1{
    font-size: 3em;
    line-height: 1;
}

.fileUpload{
    padding: 6.25em 1.25em;
    max-width: 800px;
    margin: 20px auto;
    background-color: $iFile-bg-color;
    border-radius: 4px;
}

@mixin fileUploadClassCommon{
    font-size: 1.25em;
    font-weight: 700;
    border-radius: 5px;
    display: inline-block;
    padding: 0.625rem 1.25rem;
}

.fileInput{
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    opacity: 0;
}

.fileInput + label{
    @include fileUploadClassCommon;
    background-color: $bt-bg-color;
    color: $bg-color;
    cursor: pointer;
    &:hover{
        background-color: $bt-hover-color;
    }
}

.fileInputDiv{
    display: inline-block;
}

.fileInput:focus + label{
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
    background-color: $bt-hover-color;
}

@mixin fileUploadBtClassCommon{
    margin-left: 10px;
    color: $bg-color;
    background-color: $bt-bg-color;
    outline: none;
    @include fileUploadClassCommon;
}

.fileUploadBt_Disable{
    @include fileUploadBtClassCommon;
    opacity: 0.5;
    cursor: not-allowed;
}

.fileUploadBt_Disable > span{
    pointer-events: none;
}

.fileUploadBt_Enable{
    @include fileUploadBtClassCommon;
    cursor: pointer;
    &:hover{
        background-color: $bt-hover-color;
    }
}
.fileProgress{
    height: 20px;
    width: 300px;
    margin: 10px auto;
    background-color: $progress-bg-color;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}
.fileProgressBar{
    background-image:linear-gradient(45deg, 
    rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, 
    rgba(255, 255, 255, 0.15) 50%, 
    rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    animation: progress-bar-stripes 2s linear infinite;
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    background-size: 40px 40px;
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: $content-color;
    text-align: center;
    background-color: #337ab7;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    position: relative;
    border-radius: 4px;
}
.fileProgressValue{
    left : 100%;
    position: absolute;
    padding-left: 5px;
    color: $content-color;
}
.TableDisplay,.chartDisplay{
    @extend .fileUpload;
    // height: 300px;
}
#loadingLabel > canvas{
    width: 20px;
    height: 20px;
}